
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {  
    --black: #00000;
    --catalina: #06327d;
    --bluetiful: #2b70e4;
    --vegan: #209d5c;
    --sunglow: #ffd034;
    --white: #ffffff;
    --light-blue: #cadbf8;
  }

  .wrapper {

  /*for some reason, unless I remove the instructed padding, 
  the background colors of each element don't extend all the way
  to the edges of the page this site:
  (https://stackoverflow.com/questions/31733626/css-background-colour-not-extending-to-the-edge-of-the-screen) 
  instructed me to remove padding to solve */
    padding:0;
    margin:0p;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    background-color: var(--catalina);
    margin:0 auto;
  }
  
  main{
    padding:0;
    margin: 0 auto;
  }
  
  h1, h2, button a, nav ul{
    text-transform:uppercase;
    font-weight:normal;
  }

  h1{
    
    font-size:3.5vh;
    line-height:1.1667;
    margin: 0 auto;
    max-width: 100%;
    padding-top:1.8rem;
    padding-left:.4rem;
    color:var(--white);
  }

  h2{
    font-size:2.5rem;
    line-height:1.1667;
    margin: 0;
  }
  
  h3{
    font-size:1.75rem;
    line-height:1.1667;
  }

  .title{
    background-color:var(--light-blue);
    padding:2rem;
  }
  /*Set up a horizontal responsive navbar. Style it any way you like.*/
  nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
    align-items: flex-end;
    justify-content: center;
  }

  .navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
  }
  .branding {
    display:grid; 
    grid-template-columns: auto auto;
  }

  .navbar a {
    text-decoration: none;
    color: var(--white);
  }


  nav a {
    color: var();
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  nav a:hover {
    color: var(--sunglow);
  }
  
  nav a.active {
    background-color: var(--sunglow);
  }
  
  header{
    margin: 0 auto;
    padding: 0;
    border-bottom:5px solid var(--sunglow);
    background-color:var(--catalina);
  }
  
  header img{
    margin:0 auto;
    max-width: 100%;
    margin-bottom:.5rem;
  }
  
  /*body formatting*/
  body img {
    max-width: 100%;
  }
  button {
    padding: 0.5rem;
    margin-bottom:1rem;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    background-color:var(--catalina);
  }
  
  button a{
    text-decoration:none;
    color:var(--white);
    text-transform:uppercase;
  }
  button:hover {
    background-color: var(--sunglow);

  }

  button:hover a{
    color: var(--catalina);
  }

  .card1 button:hover,  .card1 button:hover a{
    background-color:var(--catalina);
    color:var(--sunglow);
  }


  h1{
      color: var(--white);
      font-size: 3rem;
      line-height: 1;
      margin: 0;
      padding: 0;
      display: inline-block;
      text-align: center;
    }
  
  
  .container {
    display: grid;
    grid-template-columns: fr;
    grid-template-rows: fr fr fr fr;
    background-color: var(--light-blue);
  }
  
  footer{
    color:white;
    margin:0 auto;
    padding:0;
    border-top: 5px solid var(--sunglow);
    border-bottom:3rem solid var(--catalina);
    text-align:center;
    background-color: var(--catalina);

  }

  footer img{
    width:50%;
  }
  .card {
    gap: 1rem;
    background-color: var(--light-blue);
    padding: 2rem;
    margin: 0 auto;
  }

  .card1 {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-column: 1/3;
    background-color:var(--white);
  }


  .card1 h2{
    font-size:3.4vh;
    
  }


  .card1 button{
    background-color:var(--vegan)
  }

  .card1 img {
    padding:1rem;
  }

  .content{
    margin:1rem;
  }
  


/*Now let's add the navbar breakpoint*/
@media screen and (max-width: 600px) {
  nav {
    justify-content:center;
  }
}
/* for grid mobile dimensions are the default */
  /*from 550px - 699px - display with 2 cards 
  per row At tablet dimensions*/
  
  @media screen and (min-width: 550px) {
    .card1 img{
      padding:0;
    }

    .container{
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
      background-color:var(--light-blue);
    }
  .latte{
    padding:0;
    margin:0;
  }
  }
  /*
  - At desktop dimensions, the cards are 4 across */

  @media screen and (min-width: 900px) {
    .card img {
      width:150px;
      margin:0;
      padding:0;
      border-radius:.1rem;
    }

    .latte{
      width:100%;
      padding:0;
    }
  
    .card p{
      font-size:.8rem;
      margin: 0;
      padding:0;
    }
    .wrapper{
      border:3rem solid var(--catalina);
    }
    .container{
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 1px;
     margin: 0;
     padding:0;
     }

    
     }
   
   